@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700');


body{
    height: 1vh;
    margin: 0;
    padding: 0;
    background-image: URL("../img/back.jpg");
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


*{
    margin:0;
    padding:0;
  }

b {
    color: rgb(188, 42, 255);
}

  .enable_music {
    color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    text-align: center;

    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0;

    font-weight: 400;

    margin: 50px auto;
    animation: music 3s;
}

@keyframes music {
    from {
        opacity: 0.1;
        transform: translateY(-80px);
    }

    to { 
        transform: translateY(0px);
    }
}

.background-img-2{
height: 400px;
  width: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5% auto;
  padding:20px;
  border-radius: 4px;
  position: relative;
}

.content-2 h2{ font-size:19px;}

.box-2{
  position: absolute;
  top: -250%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #111845a6;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid rgb(23, 32, 90);
  color: white;
  padding: 20px;
}

.box-2:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box-2:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box-2 .content-2{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #ffffff;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);
  
}

.box-2 span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box-2 span:nth-child(1)
{
  transform:rotate(0deg);
}

.box-2 span:nth-child(2)
{
  transform:rotate(90deg);
}

.box-2 span:nth-child(3)
{
  transform:rotate(180deg);
}

.box-2 span:nth-child(4)
{
  transform:rotate(270deg);
}

.box-2 span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #fafafa;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 

  .container{  padding-top: 20px;
    padding-bottom: 20px;}

  
  .background-img{
  height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border-radius: 4px;
    position: relative;
  }
  
  .content h2{ font-size:19px;}
  
  .box{
    position: absolute;
    top: 50%;
    left: 135%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid rgb(23, 32, 90);
    color: white;
    padding: 20px;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box .content{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #ffffff;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #fafafa;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 

  .container-3{  padding-top: 20px;
    padding-bottom: 20px;}

  
  .background-img-3{
  height: 400px;
    width: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border-radius: 4px;
    position: relative;
  }
  
  .content-3 h2{ font-size:19px;}
  
  .box-3{
    position: absolute;
    top: -100%;
    left: -35%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 600px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid rgb(23, 32, 90);
    color: white;
    padding: 20px;
  }
  
  .box-3:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box-3:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  
  .box-3 .content-3{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #ffffff;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  .box-3 span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box-3 span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box-3 span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box-3 span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box-3 span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box-3 span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #fafafa;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 

  
  .progress {
    width: 1930px;
    max-width: 1930px;
    height: 16px;
    position: absolute;
    bottom: -0.6vh;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; 
    max-height: 10px;  

  }
  .progress:after {
    content: '';
    display: block;
    width: 100%;
    height: 16px;
    background: linear-gradient(90deg, rgba(228,42,141,1) 10%, rgba(94,50,199,1) 90%);
    animation: load 60s linear;
  }
  @-moz-keyframes load {
    0% {
      width: 0;
    }
    10% {
      width: 5%;
    }
    20% {
      width: 15%;
    }
    30% {
      width: 25%;
    }
    40% {
      width: 30%;
    }
    50% {
      width: 44%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 72%;
    }
    80% {
      width: 84%;
    }
    90% {
      width: 92%;
    }
    100% {
      width: 100%;
    }
  }
  @-webkit-keyframes load {
    0% {
      width: 0;
    }
    10% {
      width: 5%;
    }
    20% {
      width: 15%;
    }
    30% {
      width: 25%;
    }
    40% {
      width: 30%;
    }
    50% {
      width: 44%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 72%;
    }
    80% {
      width: 84%;
    }
    90% {
      width: 92%;
    }
    100% {
      width: 100%;
    }
  }
  @-o-keyframes load {
    0% {
      width: 0;
    }
    10% {
      width: 5%;
    }
    20% {
      width: 15%;
    }
    30% {
      width: 25%;
    }
    40% {
      width: 30%;
    }
    50% {
      width: 44%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 72%;
    }
    80% {
      width: 84%;
    }
    90% {
      width: 92%;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes load {
    0% {
      width: 0;
    }
    10% {
      width: 5%;
    }
    20% {
      width: 15%;
    }
    30% {
      width: 25%;
    }
    40% {
      width: 30%;
    }
    50% {
      width: 44%;
    }
    60% {
      width: 50%;
    }
    70% {
      width: 72%;
    }
    80% {
      width: 84%;
    }
    90% {
      width: 92%;
    }
    100% {
      width: 100%;
    }
  }